body {
  display: block;
  background-color: #f2f2f2;
}

.back {
  margin: 6px;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: blue;
  border: none;
  color: #fff;
  cursor: pointer;
}

.navbar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: lightgray;
}

.data {
  position: absolute;
  top: 50px;
  left: 0px;
  display: block;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2;
  height: calc(100% - 50px);
  text-align: center;
}

.data p {
  font-size: 18px;
  margin: 0px;
}

.data input[type="text"] {
  width: 450px;
  height: 25px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.savebtn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: transparent;
  text-shadow: 0 0 0 #fff;
  cursor: pointer;
}

.deletebtn {
  padding: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color: transparent;
  text-shadow: 0 0 0 #fff;
  cursor: pointer;
}
